<div class="delivery_info">
          
           {%- if block.settings.show_heading -%}
          <span class="delivery_title"> {{ block.settings.delivery_heading }}</span>
          {%- endif -%}
           {%- if block.settings.delivery_prefix -%}{{ block.settings.delivery_prefix }}{%- endif -%}
        </div>