<product-recommendations class="product-recommendations page-width section-template--15708913860866__product-recommendations-padding isolate product-recommendations--loaded" data-url="/recommendations/products?section_id=template--15708913860866__product-recommendations&amp;product_id=7600193437954&amp;limit=4">
  <h2 class="product-recommendations__heading">You may also like</h2>
  <ul class="grid grid--3-col product-grid grid--1-col-tablet" role="list">

    <li class="grid__item">
    </li>
  </ul>
</product-recommendations>

{% schema %}
  {
    "name": "Related Products",
    "settings": [
        {
          "type": "text",
          "label": "Heading",
          "default": "Custom Products",
          "id": "product_heading"
        }
      ],
        "blocks": [
          {
            "type": "text",
            "name": "t:sections.main-product.blocks.text.name",
            "settings": [
                {
                  "type": "product",
                  "label": "Product",
                  "id": "custom_product"
                }
              ]
          }

    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
